.payment-page {
  padding:40px;
  max-width:400px;
  margin:auto;
  background:#111;
  color:white;
  border-radius:12px;
  text-align:center;
  box-shadow:0 0 20px #00ff9d50;
}

.methods {
  display:flex;
  flex-direction:column;
  gap:15px;
  margin:30px 0;
}

.pay-btn {
  width:100%;
  padding:15px;
  background:#00ff9d;
  border:none;
  font-weight:bold;
  border-radius:8px;
}

.loader {
  margin:20px auto;
  width:40px;
  height:40px;
  border:4px solid #00ff9d;
  border-top-color:transparent;
  border-radius:50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
